* {
    box-sizing: border-box;
    font-family: "Tahoma", "Arial", sans-serif;
    color: rgb(185, 185, 185);
}

html, body {
    background-color: #414141;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: rgb(34, 34, 34);
    padding-bottom: 30px;
}

.content {
    background-color: #414141;
    text-align: center;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
}

.logo {
    width: 10%;
    height: 10%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 2px solid rgb(0, 0, 0)
}

.main-nav li {
    padding: 0 5%;
}

.header {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: bold;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.result {
    font-size: 2em;
    font-weight: normal;
}

.test {
    font-size: 2em;
}

.quiz {
    margin-left: 25%;
    font-size: 2em;
}

.button {
    background-color: rgb(90, 201, 90);
    text-align: center;
    padding: 20px;
    border: 6px solid black;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: "Tahoma", "Arial", sans-serif;
    font-size: 1.5em;
}

.margin {
    margin: 0;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectmenu {
    background-color: rgb(90, 201, 90);
    text-align: center;
    padding: 5px;
    border: 4px solid black;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: "Tahoma", "Arial", sans-serif;
    font-size: 1em;
}

option {
    background-color: rgb(90, 201, 90);
    text-align: center;
    padding: 5px;
    border: 4px solid black;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: "Tahoma", "Arial", sans-serif;
    font-size: 1em;
}